body{
	 background-image: url("../asset/final/BG.jpg");
	 background-size: 100% 100%;
	 background-repeat: no-repeat;;
}
#leaderboard-container{
	padding-top: 2%;
}

#loading-text {

  margin: auto;
  position: absolute;
  top: 50%; left: 0; bottom: 0; right: 0;
	text-align: center;

}

.white-backGround{
	background-image:url("../asset/final/Border 10px10.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	height: 80%;
}

#container{
	display: table;
}
#all-register-page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:white;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
}

.login-page{
		opacity: 1;
}


#logo-main{
	display: table;
	width: 80%;
	padding-top: 20%;
	margin: auto;
}
#logo-big{
	display: table;
	width: 80%;
	margin: auto;
}
#login-container{
	background-image: url("../asset/splash screen/Login Back.png");
	background-size: 100% 100%;
}
#base-url{
	display: none;
}
#access_token{
	display: none;
}

.right-content{
	margin-top: 20px;
	margin-left: 0px;
}
.right-content.left{
	padding-left:0px
}
#form-container {
	margin-left: -30px;
	background-image: url("../asset/splash screen/Login Back.png");
	background-size: 100% 100%;

}
.form-control{
	height: 30px;
}

#title-register{
	text-align: center;
	font-size: 24px;
}
/*template*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container2 {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container2:before, .container2:after {
  content: "";
  display: block;
  clear: both;
}
.container2 .info {
  margin: 50px auto;
  text-align: center;
}
.container2 .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container2 .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container2 .info span a {
  color: #000000;
  text-decoration: none;
}
.container2 .info span .fa {
  color: #EF3B3A;
}

#please-wait-screen{
	display: none;
}

/* progress barr */
html,
body {
  background-color: white;
}

#state {
  color: #c8c8c8;
  font-family: Monaco;
  font-size: 12px;
  line-height: 1em;
  padding: 20px;
  text-align: center;
}
#warning-parent{
	display: none;
	position: absolute;
	top:0px;
	width: 100%;
	height: 100%;
	background-color: white;
}
#login-fb-button{
	display: table;
	margin: auto;
}
#login-text{
	display: table;
	margin: auto;
}
#image-warning-rotate{
position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -80%);
 text-align: center;
}
#progress {
  font-size: 50px;
  left: 50%;
  letter-spacing: 0.1em;
  margin: -25px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
	color: black;
}

#progressbar {
  left: 10%;
  position: absolute;
  text-align: center;
  top: 55%;
  right: 10%;
}
#progressbar .bar {
  -moz-box-shadow: cyan 0 0 10px 1px;
  -webkit-box-shadow: cyan 0 0 10px 1px;
  box-shadow: cyan 0 0 10px 1px;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: cyan;
  height: 1px;
  display: inline-block;
  width: 0%;
}
#progressbar .bar.complete {
  -moz-box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
  -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
  box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
}
#leaderboard-container{
	color:black;
}
#current_score{
	text-align: center;
	color:black;
}
#leaderboard-content{
	padding-top: 10px;
	color:black;
}
