body{
	 background-image: url("../asset/final/BG.jpg");
	 background-size: auto 100%;
	 background-repeat: no-repeat;;
}
#game-body{
	background-image: url("../asset/match boss/BG 1.png");
	background-size: auto 100%;
	background-repeat: no-repeat;;
}
#leaderboard-container{
	padding-top: 2%;
}
#tnc-page{

}
#howto-page{
	text-align: center;
}
#howto-btn{
margin-top:10px;
}
.info-bg{
	display: table;
  width: 50%;
  margin: auto;
  margin-top: 5%;
	background-image: url("../asset/final/Home and tnc.png");
	background-size: 100% 100%;
	color: white;
	padding: 30px;
}
.ok-button{
	display: table;
	margin: auto;
	width: 50px;
}
.title-image{
	display: table;
	margin: auto;
}
ul{
	list-style-type:none;
}
#loading-text {

  margin: auto;
  position: absolute;
  top: 50%; left: 0; bottom: 0; right: 0;
	text-align: center;

}

.white-backGround{
	background-image:url("../asset/final/Border 10px10.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;

}

#container{
	display: table;
}
#all-register-page{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background:white;
	background-color: rgba(255, 255, 255, 0.7);
	display: none;
}

.login-page{
		opacity: 1;
}


#logo-main{
	display: table;
	width: 80%;
	padding-top: 20%;
	margin: auto;
}
#logo-big{
	display: table;
	width: 80%;
	margin: auto;
}
#login-container{
	background-image: url("../asset/splash screen/Login Back.png");
	background-size: 100% 100%;
}
#base-url{
	display: none;
}
#tncButton{
 cursor: pointer;
cursor: hand;
}
#current_score{
display: none;
}
#access_token{
	display: none;
}

.right-content{
	margin-top: 20px;
	margin-left: 0px;
}
.right-content.left{
	padding-left:0px
}
#form-container {
	margin-left: -30px;
	background-image: url("../asset/splash screen/Login Back.png");
	background-size: 100% 100%;

}
.form-control{
	height: 30px;
}

#title-register{
	text-align: center;
	font-size: 24px;
}
/*template*/

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container2 {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container2:before, .container2:after {
  content: "";
  display: block;
  clear: both;
}
.container2 .info {
  margin: 50px auto;
  text-align: center;
}
.container2 .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container2 .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container2 .info span a {
  color: #000000;
  text-decoration: none;
}
.container2 .info span .fa {
  color: #EF3B3A;
}

#please-wait-screen{
	display: none;
}

/* progress barr */
html,
body {
  background-color: white;
}

#state {
  color: #c8c8c8;
  font-family: Monaco;
  font-size: 12px;
  line-height: 1em;
  padding: 20px;
  text-align: center;
}
#warning-parent{
	display: none;
	position: absolute;
	top:0px;
	width: 100%;
	height: 100%;
	background-color: white;
}
#login-fb-button{
	display: table;
	margin: auto;
}
#login-text{
	display: table;
	font-size: 15px;
}
#image-warning-rotate{
position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -80%);
 text-align: center;
}
#progress {
  font-size: 50px;
  left: 50%;
  letter-spacing: 0.1em;
  margin: -25px 0 0 -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 200px;
	color: black;
}

#progressbar {
  left: 10%;
  position: absolute;
  text-align: center;
  top: 55%;
  right: 10%;
}
#progressbar .bar {
  -moz-box-shadow: cyan 0 0 10px 1px;
  -webkit-box-shadow: cyan 0 0 10px 1px;
  box-shadow: cyan 0 0 10px 1px;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background-color: cyan;
  height: 1px;
  display: inline-block;
  width: 0%;
}
#progressbar .bar.complete {
  -moz-box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
  -webkit-box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
  box-shadow: rgba(255, 0, 0, 0) 0 0 10px 10px;
}
#leaderboard-container{
	color:black;
}
#current_score{
	text-align: center;
	color:black;
}
#title-leaderboard{
	text-align: center;
	display: table;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;

}
.leaderboard-content{

	color:white;
	background-image: url("../asset/final/Home and tnc.png");
	background-size: 100% 100%;
	margin-top: 50px;
	padding-bottom: 20px;
	padding-top:20px;

}
.nama-lead{
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 20px;
	font-family: 'Luckiest Guy', cursive;

}
.score-lead{
	color: yellow;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 15px;
	font-family: 'Dosis', sans-serif;
}
#leaderboard-bg{

}
.profile-pict{
	background-image: url("../asset/splash screen/Player Frame.png");
	background-size: 55px 55px;
	background-repeat: no-repeat;
	background-position: center;
	height: 60px;
	/*//margin-right: : 10px;*/
	display: table;
	margin: auto;
	float: left;
	margin-left: 30px;
}
.profile-content{
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
	display: table;
	margin-top:4px;
}
#leaderboard-data{
	padding-bottom: 10px;
	margin-left: 10%;
}

.user-data{
	padding-left: 20px;
	float: left;
}
#left-image-content{
	width: 80%;
}
#left-image{
	color:white;

	padding: 10px;
	margin: 10px;
	margin-top: 50px;
}
.btn-home-lead{
	color:white;
	padding-left: 10px;
	margin-top: 10px;
	margin-bottom: 50px;
	/*margin-left: 10px;*/
	/*margin-top: 50px;*/
}

.out-bg{
	display: table;
	width: 80%;
	height: 60%;
	margin: auto;
	margin-top:  10%;
	background-image: url("../asset/match boss/Out of Heart.png");
	background-size: 100% 100%;
	color: white;
}
.go-to-home{
	margin: auto;
  padding-top: 50%;
  /* margin-top: 100px; */
  display: table;
}
